<section id="todos">
  <header>
    <h2>Editing "<%= @list[:name] %>"</h2>
    <ul>
      <li>
      <form action="/lists/<%= params[:list_id] %>/destroy" method="post">
        <button type="submit" class="delete">Delete List</button>
      </form>
      </li>
    </ul>
  </header>
</section>

<% content_for :header_links do %>
  <a href="/list"s>All Lists</a>
<% end %>

<form action="/lists/<%= params[:list_id] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the new name for the list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="<%= params[:list_name] || @list[:name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:list_id] %>">Cancel</a>
  </fieldset>
</form>
