<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] %>
  <% if @chapters.empty? %>
    <p>Sorry, no matches were found</p>
  <% else %>
    <h3>Results for '<%= params[:query] %>'</h3>
    <ul>
      <% @chapters.each do |chapter| %>
        <% chapter[:paragraphs].each do |index, text| %>
          <li><a href="/chapters/<%= chapter[:number] %>#paragraph<%= index %>"><%= chapter[:name] %></a></li>
            <p><%= text %></p>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
