<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">Edit</a>
      <form action="/<%= file %>/destroy" method="post" class="inline">
        <button type="submit">Delete</button>
      </form>
      <form action="/create_file" method="post" class="inline">
        <button name="new_filename" type="submit">Duplicate</button>
        <input name="new_filename" value="Duplicate!" />
      </form>
    </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:username] %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <p class="user-status"><a href="/users/signin">Sign In</a></p>
  <p class="user-status"><a href="/users/signup">Sign Up</a></p>
<% end %>
